/* body berwarna abu abu  */
body {
    background-color: #f0f0f0; /* abu abu */
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* membuat canvas putih ditengah  */
.container {
    background-color: #ffffff; /* putih */
    width: 800px;
    margin: 0 auto;
}

/* mengatur jarak dalam header  */
.header {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* mengatur judul  */
.header .judul {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* untuk navigasi menu atas  */
.nav {
    padding: 0px;
}

.nav li {
    /* membuat list navigasi horizontal dan mengatur jarak antar menu  */
    display: inline-block;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

/* mengatur link navigasi  */
.nav li a {
    text-decoration: none;
    color: navy; 
}

/* membuat animasi saat link di sorot  */
.nav li a:hover {
    background-color: black;
    color: white;
}

/* css untuk banner */
.banner {
    height: 400px;
    /*background-color: skyblue;*/
    /*berikan file gambar*/
    background-image: url(../img/mc.webp);
    /*atur ukuran gambar*/
    background-size: cover;
    /*mengatur posisi gambar horisontal dan vertikal*/
    background-position: 0px 0px;
    /*mengatur garis tepi tebal jenis warna*/
    border-top: 5px solid navy;
    border-bottom: 5px solid skyblue;
}

/*untuk isi*/
.isi {
    padding: 20px;
}
 
.isi h2 {
    font-size: 30px;
    font-weight: bold;
}
 
.isi .penulis {
    font-size: 14px;
    /*agar agak naik*/
    margin-top: -10px;
}
 
.isi .penulis a {
    text-decoration: none;
    color: skyblue;
}
 
.isi p {
    font-size: 16px;
    margin-bottom: 10px;
}